* {padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Vazirmatn', sans-serif;    
}
li {list-style: none;}
a {text-decoration: none;
    color: #000;}

    body{
        margin: 10px;
    }
    
    $point-color :#CC6262;
    $icon-color : #978D8D;
    
    $point-font : 'Prata', serif;
    

/* -------------------- */
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////





.header{
    position: relative;

    .title{
        text-align: center;
        font-family: $point-font;
        color: $point-color;
        font-weight: 100;
        font-size: 45px;
        border: 1px solid #000;
    }

    .navbar_burger{
        position: absolute;
        font-size: 40px;
        margin-left: 10px;
        color: $icon-color;
        top: 50%;
        transform: translate(0,-50%);
    }
}

.search_box{
    text-align: center;
    margin: 20px auto 100px;
    height: 40px;
    border-radius: 10px;
    border-radius: 20px;
    background: #ECECEC;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
    .xi-search{
        color: $icon-color;
    }
}





////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.top_box {
    width: 100%;
    height: 100px;
    background-color: #aaa;
    border: 3px solid #000;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.bottom_box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #aaa;

    .line {
        width: 95%;
        margin-top: 30px;
        margin: 0 auto;
        height: 3px;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
    }
    .line.first_line {
        margin-top: 0px;
    }

    .title_all {
        position: absolute;
        top: 3px;
        left: 0;
        height: 50px;
        line-height: 55px;
        padding: 0px 10px 0px;
        background-color: yellow;
        box-sizing: border-box;
    }
    .short_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-end;
        padding-top: 50px;
        box-sizing: border-box;

        .short_list_img1, .short_list_img2,
        .short_list_img3, .short_list_img4 {
            width: 50%;
            height: 50%;
            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .short_list_img1, .short_list_img3 {
            padding-right: 5px;
        }
        .short_list_img2, .short_list_img4 {
            padding-left: 5px;
        }


        .short_txt {
            font-weight: bold;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .Person_Issue {
        position: relative;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        .Person_Issue_img {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            padding-top: 50px;

            .Person_Issue_img_box {
                width: 40%;
                cursor: pointer;
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .Person_Issue_text {
                position: relative;
                width: 60%;
                background-color: #eee;

                .Issue_text_list {
                    display: flex;
                    padding: 10px;
                    height: 100%;
                    flex-wrap: wrap;
                    align-content: flex-start;

                    li {
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        // background-color: #aaa;
                        // border: 1px solid #000;
                        box-sizing: border-box;
                        font-weight: bold;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    li.hidden_txt {
                        width: 200px;
                        height: 20px;
                        line-height: 23px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        color: #aaa;
                        font-size: 12px;
                        font-weight: normal;
                        text-align: right;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .Person_Year {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        transform: translateY();

        .Person_Year_img {
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .Person_Year_txt {
            position: relative;
            left: auto;
            top: auto;
            text-align: center;
            font-weight: bold;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }
    }

    .user_aera1{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        .user_aera_top {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: column;
            width: 100%;
            height: 50px;
            padding: 5px 0px;
            box-sizing: border-box;

            .user_aera_img {
                width: 60px;
                height: 40px;
                background-color: red;
            }
            .user_name, .user_ID {
                height: 20px;
                margin-left: 15px;
                font-size: 12px;
                line-height: 20px;
            }
            .user_ID {
                color: #aaa;
            }
        }

        .user_txt {
            padding: 10px 0px;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 18px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user_aera_btm {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            background-color: #eee;
            padding: 0px 10px;
            box-sizing: border-box;
            margin-bottom: 15px;
            
            .user_aera_btm_Box1,
            .user_aera_btm_Box2 {
                display: flex;
                height: 50px;
                line-height: 53px;

                div, a {
                    color: #aaa;
                    padding: 0px 5px;
                    box-sizing: border-box;
                }

                .btm_twiter_img {
                    font-size: 16px;
                }
                .btm_time {
                    font-size: 12px;
                }
            }

            .user_aera_btm_Box2 a {
                padding: 0px 10px;
            }
        }
    }
}


