* {
  padding: 0;
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
}

body {
  margin: auto 10px;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.header {
  margin-top: 20px;
}
.header .navbar_burger {
  font-size: 35px;
  color: #978D8D;
}
.header .title {
  text-align: center;
  flex-grow: 1;
}
.header .title a {
  font-family: "Prata", serif;
  color: #CC6262;
  font-weight: 100;
  font-size: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .hr_solid {
  border: 1.5px solid #000;
}

.search_box {
  text-align: center;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  border-radius: 20px;
  background: #ECECEC;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.search_box .xi-search {
  color: #978D8D;
}
.search_box .search_title {
  color: #978D8D;
}
.search_box .search_btn {
  color: #fff;
  width: 50px;
  height: 30px;
  font-size: 15px;
  border: none;
  border-radius: 18px;
  background: rgba(204, 98, 98, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.main_box {
  margin-top: 20px;
  background: rgba(217, 217, 217, 0.25);
  display: flex;
}
.main_box .main {
  width: 50%;
  position: relative;
  display: flex;
}
.main_box .main .main_inner {
  background-color: #fff;
  width: 60%;
  height: 40%;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_box .main .main_inner .inner_text {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: -1px;
  margin-bottom: 5px;
}
.main_box .main .main_inner .inner_title {
  font-size: 35px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -2px;
}
.main_box .main_img_box {
  width: 50%;
}
.main_box .main_img_box .main_img img {
  width: 100%;
  height: auto;
  display: block;
}

.article_box {
  margin-top: 20px;
}
.article_box h1 {
  font-size: 36px;
}
.article_box .italic {
  font-style: italic;
}

.article_list {
  margin: 30px 0;
}
.article_list ul li {
  height: 20px;
  margin-bottom: 10px;
  text-indent: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  display: flex;
  align-items: center;
}
.article_list ul li .fa-circle {
  width: 20px;
  font-size: 5px;
  text-align: center;
}
.article_list ul li .fa-youtube, .article_list ul li .fa-play-circle {
  width: 20px;
  font-size: 12px;
}

.top_box {
  width: 100%;
  height: 100px;
  background-color: #aaa;
  border: 3px solid #000;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.bottom_box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.bottom_box .line {
  width: 95%;
  margin-top: 30px;
  margin: 0 auto;
  height: 3px;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}
.bottom_box .line.first_line {
  margin-top: 0px;
}
.bottom_box .title_all {
  position: absolute;
  top: 3px;
  left: 0;
  height: 50px;
  line-height: 55px;
  padding: 0px 10px 0px;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .short_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
  padding-top: 50px;
  box-sizing: border-box;
  margin-top: 20px;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .short_list .short_list_img1,
.bottom_box .short_list .short_list_img2,
.bottom_box .short_list .short_list_img3,
.bottom_box .short_list .short_list_img4 {
  width: 50%;
  height: 50%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.bottom_box .short_list .short_list_img1 img,
.bottom_box .short_list .short_list_img2 img,
.bottom_box .short_list .short_list_img3 img,
.bottom_box .short_list .short_list_img4 img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom_box .short_list .short_list_img1,
.bottom_box .short_list .short_list_img3 {
  padding-right: 5px;
}
.bottom_box .short_list .short_list_img2,
.bottom_box .short_list .short_list_img4 {
  padding-left: 5px;
}
.bottom_box .short_list .short_list_tit {
  top: 23px;
}
.bottom_box .short_list .short_txt {
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom_box .Person_Issue {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .Person_Issue .Person_Issue_img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 50px;
}
.bottom_box .Person_Issue .Person_Issue_img .Person_Issue_img_box {
  width: 40%;
  cursor: pointer;
}
.bottom_box .Person_Issue .Person_Issue_img .Person_Issue_img_box img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom_box .Person_Issue .Person_Issue_img .Person_Issue_text {
  position: relative;
  width: 60%;
}
.bottom_box .Person_Issue .Person_Issue_img .Person_Issue_text .Issue_text_list {
  display: flex;
  padding: 10px;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.bottom_box .Person_Issue .Person_Issue_img .Person_Issue_text .Issue_text_list li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  cursor: pointer;
}
.bottom_box .Person_Issue .Person_Issue_img p.Person_side_txt {
  width: 200px;
  height: 20px;
  line-height: 23px;
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  padding-right: 5px;
}
.bottom_box .Person_Year {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transform: translateY();
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .Person_Year .Person_Year_img {
  cursor: pointer;
}
.bottom_box .Person_Year .Person_Year_img img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom_box .Person_Year .Person_Year_txt {
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.bottom_box .user_aera1,
.bottom_box .user_aera2 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .user_aera1 .user_aera_top,
.bottom_box .user_aera2 .user_aera_top {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50px;
  padding: 5px 0px;
  box-sizing: border-box;
}
.bottom_box .user_aera1 .user_aera_top .user_aera_img,
.bottom_box .user_aera2 .user_aera_top .user_aera_img {
  width: 60px;
  height: 40px;
  background-color: red;
  overflow: hidden;
  border-radius: 3px;
}
.bottom_box .user_aera1 .user_aera_top .user_aera_img img,
.bottom_box .user_aera2 .user_aera_top .user_aera_img img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom_box .user_aera1 .user_aera_top .user_name,
.bottom_box .user_aera1 .user_aera_top .user_ID,
.bottom_box .user_aera2 .user_aera_top .user_name,
.bottom_box .user_aera2 .user_aera_top .user_ID {
  height: 20px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 20px;
}
.bottom_box .user_aera1 .user_aera_top .user_ID,
.bottom_box .user_aera2 .user_aera_top .user_ID {
  color: #aaa;
}
.bottom_box .user_aera1 .user_txt,
.bottom_box .user_aera2 .user_txt {
  height: 130px;
  padding: 10px 0px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom_box .user_aera1 .user_aera_btm,
.bottom_box .user_aera2 .user_aera_btm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #eee;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box1,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box1,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 {
  display: flex;
  height: 50px;
  line-height: 53px;
}
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box1 div,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box1 a,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2 div,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2 a,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box1 div,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box1 a,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 div,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 a {
  color: #aaa;
  padding: 0px 5px;
  box-sizing: border-box;
}
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box1 .btm_twiter_img,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2 .btm_twiter_img,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box1 .btm_twiter_img,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 .btm_twiter_img {
  font-size: 16px;
}
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box1 .btm_time,
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2 .btm_time,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box1 .btm_time,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 .btm_time {
  font-size: 12px;
}
.bottom_box .user_aera1 .user_aera_btm .user_aera_btm_Box2 a,
.bottom_box .user_aera2 .user_aera_btm .user_aera_btm_Box2 a {
  padding: 0px 10px;
}
.bottom_box .user_aera1 {
  margin-top: 20px;
}
.bottom_box .user_aera2 {
  margin-bottom: 50px;
}
.bottom_box .More_Reactions {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .More_Reactions .More_Reactions_tit {
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bottom_box .More_Reactions .More_Reactions_tit .fa-chevron-circle-right {
  width: 20px;
  color: #CC6262;
  margin-left: 10px;
}
.bottom_box .More_Reactions .More_Reactions_side_tit {
  display: flex;
  align-items: center;
}
.bottom_box .More_Reactions .More_Reactions_side_tit p {
  font-size: 12px;
  padding: 0px 10px;
  box-sizing: border-box;
  color: #aaa;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bottom_box .More_Reactions .More_Reactions_side_tit p:nth-child(1) {
  padding-left: 0px;
}
.bottom_box .More_Reactions .More_Reactions_side_tit p:nth-child(2) {
  color: #777;
  font-weight: bold;
}
.bottom_box .More_Reactions_Tap {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-family: "Vazirmatn", sans-serif;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_Menu {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  display: flex;
  width: 250px;
  height: 51px;
  line-height: 53px;
  text-align: center;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid #000;
  border-bottom: none;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_Menu p {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_Menu p:nth-child(2) {
  color: #777;
  background-color: #bbb;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box {
  width: 100%;
  position: relative;
  /* display:none */
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Reactions_Tap_list2 {
  display: none;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list {
  width: 100%;
  height: 330px;
  margin-top: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a {
  width: 100%;
  display: flex;
  height: 50px;
  font-size: 14px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a p:first-child {
  width: 40px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a p:last-child {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 12px;
  border-bottom: 1px solid #aaa;
}
.bottom_box .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li:last-child a p {
  border-bottom: none;
}
.bottom_box .Featured {
  position: relative;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Vazirmatn", sans-serif;
  padding-top: 50px;
  box-sizing: border-box;
  /* display:none */
}
.bottom_box .Featured .Featured_box3,
.bottom_box .Featured .Featured_box4 {
  display: none;
}
.bottom_box .Featured .Featured_box {
  width: 50%;
}
.bottom_box .Featured .Featured_box .Featured_img {
  padding: 5px;
  box-sizing: border-box;
}
.bottom_box .Featured .Featured_box .Featured_img img {
  width: 100%;
  height: auto;
  display: block;
}
.bottom_box .Featured .Featured_box .Featured_txt {
  font-size: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}
.bottom_box .Featured .Featured_box .Featured_txt p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_box .Featured .Featured_box1 .Featured_img,
.bottom_box .Featured .Featured_box3 .Featured_img {
  padding-left: 0px;
}
.bottom_box .Featured .Featured_box2 .Featured_img,
.bottom_box .Featured .Featured_box4 .Featured_img {
  padding-right: 0px;
}

footer {
  width: 100%;
  margin-top: 50px;
}
footer .line {
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
  height: 3px;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
}
footer .footer_logo_txt {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  text-shadow: 0px 4px 4px #bbb;
}
footer .footer_logo_txt p {
  font-size: 45px;
  font-family: "Prata", serif;
  color: #CC6262;
  padding-bottom: 20px;
  box-sizing: border-box;
}
footer .footer_SNS_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
}
footer .footer_SNS_logo .SNS_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #CC6262;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 4px 4px #bbb;
}
footer .footer_SNS_logo .SNS_logo img {
  width: 25px;
  height: 25px;
  display: block;
}
footer .footer_list {
  margin-top: 20px;
  display: flex;
}
footer .footer_list .footer_list_box {
  width: 25%;
  font-size: 10px;
  margin-bottom: 25px;
}
footer .footer_list .footer_list_box li {
  display: flex;
  align-items: center;
  height: 35px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding: 0px 3px;
  box-sizing: border-box;
}
footer .footer_list .footer_list_box li a:hover {
  color: #CC6262;
  font-weight: bold;
}
footer .footer_list .footer_list_box li:last-child {
  border: none;
}
footer .foot_bottom {
  margin-top: 25px;
  margin-bottom: 50px;
}
footer .foot_bottom .foot_bottom_txt span {
  color: #aaa;
  font-size: 10px;
}
footer .foot_bottom_txt1 {
  margin-bottom: 15px;
}
footer .foot_bottom_txt1 span:nth-child(2) span:nth-child(1),
footer .foot_bottom_txt1 span:nth-child(2) span:nth-child(3) {
  color: #CC6262;
}
footer .foot_bottom_txt1 span:nth-child(2) span:nth-child(2) {
  margin: 0px 2px;
}
footer .foot_bottom_txt2 span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (min-width: 645px) {
  .header .title {
    font-size: 70px;
  }
  .header .navbar_burger {
    display: none;
  }
  footer .foot_bottom .foot_bottom_txt1 span:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  footer .foot_bottom .foot_bottom_txt1 span:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  footer .foot_bottom .foot_bottom_txt2 span {
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .bottom_box {
    float: left;
  }
  .bottom_box .line {
    width: 98%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  .bottom_box .first_line {
    border: none;
  }
  .bottom_box .third_line {
    display: none;
  }
  .bottom_box .fourth_line {
    /*          display: none; */
    margin-bottom: 30px;
  }
  .bottom_box .Person_Issue {
    width: 55%;
    float: left;
  }
  .bottom_box .Person_Issue .Person_Issue_img p.Person_side_txt {
    bottom: -20px;
    left: 0;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .bottom_box .Person_Issue .Person_Issue_img p.Person_side_txt span:nth-child(2) {
    display: block;
  }
  .bottom_box .Person_Year {
    position: relative;
    width: 45%;
    float: left;
    padding-top: 50px;
    box-sizing: border-box;
  }
  .bottom_box .Person_Year .Person_Year_img {
    padding-top: 50px;
    box-sizing: border-box;
  }
  .bottom_box .Person_Year .Person_Year_txt {
    position: absolute;
    left: 0;
    top: 0;
  }
  .bottom_box .user_wrap {
    width: 55%;
    float: left;
  }
  .bottom_box .user_wrap .user_aera1 {
    margin-top: 0px;
  }
  .bottom_box .user_wrap .user_aera2 {
    margin-bottom: 0px;
  }
  .bottom_box .More_Reactions_wrap {
    width: 45%;
    float: left;
  }
  .bottom_box .More_Reactions_wrap .More_Reactions_Tap {
    height: 455px;
  }
  .bottom_box .More_Reactions_wrap .More_Reactions_Tap .Tap_list {
    height: 385px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  .bottom_box .More_Reactions_wrap .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a {
    height: 60px;
  }
  .bottom_box .More_Reactions_wrap .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a p:first-child {
    height: 60px;
    line-height: 60px;
  }
  .bottom_box .More_Reactions_wrap .More_Reactions_Tap .Reactions_Tap_list_box .Tap_list li a p:last-child {
    height: 60px;
  }
  .bottom_box .Featured .Featured_box {
    width: 25%;
  }
  .bottom_box .Featured .Featured_box3, .bottom_box .Featured .Featured_box4 {
    display: block;
  }
  .bottom_box .Featured .Featured_box1 .Featured_img {
    padding: 5px;
    overflow: hidden;
  }
  .bottom_box .Featured .Featured_box4 .Featured_img {
    padding: 5px;
    overflow: hidden;
  }
  .bottom_box .Featured .Featured_box3 .Featured_img {
    padding: 5px;
    overflow: hidden;
  }
  .bottom_box .Featured .Featured_box2 .Featured_img {
    padding: 5px;
    overflow: hidden;
  }
  footer {
    float: left;
    margin-top: 100px;
  }
  footer .footer_list .footer_list_box li {
    height: 25px;
  }
}/*# sourceMappingURL=style.css.map */