* {padding: 0;
    margin: 0;
}

body{ margin: auto 10px;}
li {list-style: none; cursor: pointer;}
a {text-decoration: none; cursor: pointer; color: #000;}

    
$point-color :#CC6262;
$icon-color : #978D8D;

$point-font : 'Prata', serif;
$base-font : 'Vazirmatn', sans-serif;
    

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////





.header{
    position: relative;
    height: 60px;
    .title{
        text-align: center;
        font-family: $point-font;
        color: $point-color;
        font-weight: 100;
        font-size: 45px;
    }

    .navbar_burger{
        position: absolute;
        font-size: 40px;
        margin-left: 10px;
        color: $icon-color;
        top: 50%;
        transform: translate(0,-50%);
    }
}



.search_box{
    text-align: center;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    border-radius: 20px;
    background: #ECECEC;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
    .xi-search{
        color: $icon-color;
    }
}




/* .main_box{
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.25);
    display: flex;
    align-items: center;

    .main_text{
        background-color: yellow;
        .main_inner{
            background-color: #fff;
            text-align: center;

            .sub_title{
                font-size: 11px;
            }
            .main_title{
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    .main_img{
        background-color: yellowgreen;
        img{
            border: 10px solid #000;
            min-width: 100%;
            height: 200px;
        }
    }


} */


.main_box{
    margin-top: 20px;
    background: rgba(217, 217, 217, 0.25);
    display: flex;


    .main{
        height: 200px;
        border: 1px solid #000;
        flex-grow: 1;
        background-color: tan;
        .main_inner{
            border: 1px solid #000;
            background-color: #fff;
        }
    }

    .main_img{
        border: 1px solid #000;
        flex-grow: 1;

    }
}





.article_box{
    border: 1px solid #000;
    margin-top: 20px;
    h1{
        font-size: 36px;
    }
    .italic{
        font-style: italic;
    }
}


.article_list{
    border: 1px solid #000;
    margin-top: 20px;
    ul{
        li{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;

        }
    }


}





////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.top_box {
    width: 100%;
    height: 100px;
    background-color: #aaa;
    border: 3px solid #000;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.bottom_box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #aaa;

    .line {
        width: 95%;
        margin-top: 30px;
        margin: 0 auto;
        height: 3px;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
    }
    .line.first_line {
        margin-top: 0px;
    }

    .title_all {
        position: absolute;
        top: 3px;
        left: 0;
        height: 50px;
        line-height: 55px;
        padding: 0px 10px 0px;
        background-color: yellow;
        box-sizing: border-box;
        font-family: $base-font;
    }
    .short_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-end;
        padding-top: 50px;
        box-sizing: border-box;
        margin-top: 20px;
        font-family: $base-font;

        .short_list_img1, .short_list_img2,
        .short_list_img3, .short_list_img4 {
            width: 50%;
            height: 50%;
            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .short_list_img1, .short_list_img3 {
            padding-right: 5px;
        }
        .short_list_img2, .short_list_img4 {
            padding-left: 5px;
        }

        .short_list_tit {
            top: 23px;
        }


        .short_txt {
            font-weight: bold;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .Person_Issue {
        position: relative;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: $base-font;

        .Person_Issue_img {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
            padding-top: 50px;

            .Person_Issue_img_box {
                width: 40%;
                cursor: pointer;
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .Person_Issue_text {
                position: relative;
                width: 60%;
                background-color: #eee;

                .Issue_text_list {
                    display: flex;
                    padding: 10px;
                    height: 100%;
                    flex-wrap: wrap;
                    align-content: flex-start;

                    li {
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        // background-color: #aaa;
                        // border: 1px solid #000;
                        box-sizing: border-box;
                        font-weight: bold;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    li.hidden_txt {
                        width: 200px;
                        height: 20px;
                        line-height: 23px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        color: #aaa;
                        font-size: 12px;
                        font-weight: normal;
                        text-align: right;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .Person_Year {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        transform: translateY();
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: $base-font;

        .Person_Year_img {
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .Person_Year_txt {
            position: relative;
            left: auto;
            top: auto;
            text-align: center;
            font-weight: bold;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }
    }

    .user_aera1,
    .user_aera2 {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-family: $base-font;

        .user_aera_top {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: column;
            width: 100%;
            height: 50px;
            padding: 5px 0px;
            box-sizing: border-box;

            .user_aera_img {
                width: 60px;
                height: 40px;
                background-color: red;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .user_name, .user_ID {
                height: 20px;
                margin-left: 15px;
                font-size: 12px;
                line-height: 20px;
            }
            .user_ID {
                color: #aaa;
            }
        }

        .user_txt {
            padding: 10px 0px;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 18px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .user_aera_btm {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            background-color: #eee;
            padding: 0px 10px;
            box-sizing: border-box;
            margin-bottom: 15px;
            
            .user_aera_btm_Box1,
            .user_aera_btm_Box2 {
                display: flex;
                height: 50px;
                line-height: 53px;

                div, a {
                    color: #aaa;
                    padding: 0px 5px;
                    box-sizing: border-box;
                }

                .btm_twiter_img {
                    font-size: 16px;
                }
                .btm_time {
                    font-size: 12px;
                }
            }

            .user_aera_btm_Box2 a {
                padding: 0px 10px;
            }
        }
    }
    .user_aera1 {
        margin-top: 20px;
    }
    .user_aera2 {
        margin-bottom: 50px;
    }

    .More_Reactions {
        display: flex;
        justify-content: space-between;
        height: 30px;
        padding: 0px 10px;
        box-sizing: border-box;
        margin-bottom: 30px;
        font-family: $base-font;

        .More_Reactions_tit {
            display: flex;
            align-items: center;
            font-weight: bold;


            .fa-chevron-circle-right {
                color: $point-color;
                margin-left: 10px;
            }
        }

        .More_Reactions_side_tit {
            display: flex;
            align-items: center;

            p {
            font-size: 12px;
            padding: 0px 10px;
            box-sizing: border-box;
            color: #aaa;
            }

            p:nth-child(2) {
                color: #777;
                font-weight: bold;
            }
            
        }
        
    }

    .More_Reactions_Tap {
        position: relative;
        width: 100%;
        height: 400px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 25px;
        font-family: $base-font;


        .Reactions_Tap_Menu {
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
            display: flex;
            width: 250px;
            height: 51px;
            line-height: 53px;
            text-align: center;
            background-color: #eee;
            box-sizing: border-box;
            border: 1px solid #000;
            border-bottom: none;

            p { 
                width: 50%;
                font-weight: bold;
            }
            p:nth-child(2) {
                color: #777;
                background-color: #bbb;
            }
        }

        .Reactions_Tap_list_box {
            width: 100%;
            position: relative;

            .Reactions_Tap_list2 {display: none;} /* display:none */
            .Tap_list {
                width: 100%;
                height: 330px;
                margin-top: 50px;
                border: 1px solid #000;
                box-sizing: border-box;
                position: absolute;
                top: 0px;
                left: 0px;
                padding: 10px;
    
                li a {
                    width: 100%;
                    display: flex;
                    height: 50px;
                    font-size: 14px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
    
                    p:first-child {
                        width: 40px;
                        text-align: center;
                        line-height: 50px;
                        box-sizing: border-box;
                        font-size: 20px;
                        font-weight: bold;
                        border-bottom: 1px solid #aaa;
                    }
                    p:last-child {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        padding: 9px;
                        box-sizing: border-box;
                        font-size: 12px;
                        border-bottom: 1px solid #aaa;
                    }
                }
                li:last-child a {
                    p {
                        border-bottom: none;
                    }
                }
            }
            
        }

    }


    .Featured {
        display: flex;
        margin-top: 25px;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 25px;
        font-family: $base-font;


        .Featured_box3, .Featured_box4 {display: none;} /* display:none */

        .Featured_box {
            width: 50%;

            .Featured_img {
                padding: 5px;
                box-sizing: border-box;
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .Featured_txt {
                font-size: 12px;
                padding: 0px 5px;
                box-sizing: border-box;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .Featured_box1, .Featured_box3 {
            .Featured_img {
                padding-left: 0px;
            }
        }
        .Featured_box2, .Featured_box4 {
            .Featured_img {
                padding-right: 0px;
            }
        }
    }
}
footer {
    width: 100%;
    margin-top: 50px;

    .footer_logo_txt {
        width: 300px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        text-shadow: 3px 3px 3px #999;

        p {
        font-size: 42px;
        font-family: $point-font;
        color: $point-color;
        }
    }
    
    .footer_SNS_logo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        height: 50px;
        margin: 0 auto;

        .SNS_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 2px solid #CC6262;
            box-sizing: border-box;
            border-radius: 50%;
            box-shadow: 3px 3px 3px #999;

            img {
                width: 25px;
                height: 25px;
                display: block;
            }
        }
    }
}


