<<<<<<< HEAD
.title{
    border: 1px solid #000;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
    display: block;
    color: red;
    font-style: italic;
    font-size: 11px;
}
=======
p {width: 100px;
    height: 100px;}

h1 {
    width: 1000px;
    height: 50px;
    background-color: red;
}

ul li {
    font-size: 16px;
    color: #ccc111;
}
>>>>>>> 5c97fc8b8ee6fff232c3df965c044b52fa4ee38b
