$point-color: #cc6262;
$icon-color: #978d8d;

$point-font: 'Prata', serif;
$base-font: 'Vazirmatn', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $base-font;
}

body {
  margin: auto 10px;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.PC_ver {
  display: none !important;  /* Featured PC 영역에만 노출 */
}

footer {        
  .fifth_line {
    display: block;
  }

  .Featured {
    display: flex;  /* Featured Mobile, Tablet 노출 */
  }
}

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////



.header_web,
.navbar_web,
.header_tab
{
  display: none;
}

hr{
  border: 0.1px solid $icon-color;
}
.hr_solid {
  border: 1px solid #000;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.header_mobile{
  margin-top: 20px;

  .header_top_mobile{
    position: relative;
    height: 60px;
    line-height: 60px;

    .navbar_mobile{
      font-size: 30px;
      color: $icon-color;
      position: absolute;
      transform: translate(0,5%);
      margin-left: 10px;
    }

    
    .title {
      text-align: center;
      a {
        font-family: $point-font;
        color: $point-color;
        font-weight: 100;
        font-size: 40px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }


  }


  .search_box {
    text-align: center;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    border-radius: 20px;
    background: #ececec;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  
    .xi-search {
      color: $icon-color;
    }
  
    .search_title {
      color: $icon-color;
    }
  
    .search_btn {
      color: #fff;
      width: 50px;
      height: 30px;
      font-size: 15px;
      border: none;
      border-radius: 18px;
      background: rgba(204, 98, 98, 0.8);
      backdrop-filter: blur(2px);
    }
  }

}





.main_box {
  margin-top: 20px;
  background: #eee;
  display: flex;
  box-sizing: border-box;

  .main {
    width: 50%;
    position: relative;
    display: flex;

    .main_inner {
      background-color: #fff;
      width: 60%;
      height: 40%;
      padding: 20px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .inner_text {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: -1px;
        margin-bottom: 5px;
        margin-top: 10px;
      }

      .inner_title {
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
        letter-spacing: -2px;
      }
    }
  }

  .main_img_box {
    width: 50%;

    .main_img {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.article_box {
  margin-top: 20px;

  h1 {
    font-size: 36px;
  }

  .italic {
    font-style: italic;
  }
}



.main_list{



    .article_list {
        margin: 30px 0;
    
        ul {

            li:nth-child(1) {
              .fa-circle {
                width: 15px;
                padding-right: 0px;
              }
            }
            li {
    
                height: 20px;
                margin-bottom: 10px;
    
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                text-align: left;
    
                // display: flex;
                // align-items: center;
    
                .fa-circle {
                    width: 20px;
                    padding-right: 5px;
                    font-size: 5px;
                    text-align: center;
                    box-sizing: border-box;
                }
                .fa-youtube, .fa-play-circle{
                    width: 20px;
                    font-size: 12px;
                    text-align: center;
                    padding-right: 5px;
                    box-sizing: border-box;

                }
    
    
            }
        }
    
    
    }
    

    

    .short_list {
        position: relative;

        .second_line {
            width: 95%;
            margin-top: 30px;
            padding-bottom: 50px;
            margin: 0 auto;
            height: 3px;
            border-top: 2px solid #ccc;
            box-sizing: border-box;
        }
    
        .title_all {
            position: absolute;
            top: 3px;
            left: 0;
            height: 50px;
            line-height: 55px;
            padding: 0px 10px 0px;
            box-sizing: border-box;
            font-family: $base-font;
        }
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-end;
            padding-top: 50px;
            box-sizing: border-box;
            font-family: $base-font;
        
            .short_list_img1,
            .short_list_img2,
            .short_list_img3,
            .short_list_img4 {
                width: 50%;
                height: 50%;
                padding: 10px;
                box-sizing: border-box;
                cursor: pointer;
        
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        
            .short_list_img1,
            .short_list_img3 {
                padding-right: 5px;
            }
        
            .short_list_img2,
            .short_list_img4 {
                padding-left: 5px;
            }
        
            .short_list_tit {
                top: 60px;
            }
        
        
            .short_txt {
                font-weight: bold;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.top_box {
  width: 100%;
  height: 100px;
  background-color: #aaa;
  border: 3px solid #000;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.bottom_box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  .line {
    width: 95%;
    margin-top: 30px;
    margin: 0 auto;
    height: 3px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
  }

  .line.first_line {
    margin-top: 0px;
  }

  .title_all {
    position: absolute;
    top: 3px;
    left: 0;
    height: 50px;
    line-height: 55px;
    padding: 0px 10px 0px;
    box-sizing: border-box;
    font-family: $base-font;
  }

  .short_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    padding-top: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    font-family: $base-font;

    .short_list_img1,
    .short_list_img2,
    .short_list_img3,
    .short_list_img4 {
      width: 50%;
      height: 50%;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .short_list_img1,
    .short_list_img3 {
      padding-right: 5px;
    }

    .short_list_img2,
    .short_list_img4 {
      padding-left: 5px;
    }

    .short_list_tit {
      top: 23px;
    }

    .short_txt {
      font-weight: bold;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .Person_Issue {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: $base-font;

    .Person_Issue_img {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      padding-top: 50px;

      .Person_Issue_img_box {
        width: 40%;
        cursor: pointer;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .Person_Issue_text {
        position: relative;
        width: 60%;

        .Issue_text_list {
          display: flex;
          padding: 10px;
          height: 100%;
          flex-wrap: wrap;
          align-content: flex-start;

          li {
            width: 100%;
            height: 30px;
            line-height: 30px;
            // background-color: #aaa;
            // border: 1px solid #000;
            box-sizing: border-box;
            font-weight: bold;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            text-overflow: ellipsis;
            cursor: pointer;
          }
        }
      }
      p.Person_side_txt {
        width: 200px;
        height: 20px;
        line-height: 23px;
        position: absolute;
        right: 10px;
        bottom: 0;
        color: #555;
        font-size: 12px;
        font-weight: normal;
        text-align: right;
        padding-right: 5px;
      }
    }
  }

  .Person_Year {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY();
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: $base-font;

    .Person_Year_img {
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .Person_Year_txt {
      position: relative;
      left: auto;
      top: auto;
      text-align: center;
      font-weight: bold;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }

  .user_aera1,
  .user_aera2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: $base-font;

    .user_aera_top {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 50px;
      padding: 5px 0px;
      box-sizing: border-box;

      .user_aera_img {
        width: 60px;
        height: 40px;
        background-color: red;
        overflow: hidden;
        border-radius: 3px;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .user_name,
      .user_ID {
        height: 20px;
        margin-left: 15px;
        font-size: 12px;
        line-height: 20px;
      }

      .user_ID {
        color: #aaa;
      }
    }

    .user_txt {
      height: 125px;
      padding: 10px 0px;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 18px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user_aera_btm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 50px;
      background-color: #eee;
      padding: 0px 10px;
      box-sizing: border-box;
      margin-bottom: 15px;

      .user_aera_btm_Box1,
      .user_aera_btm_Box2 {
        display: flex;
        height: 50px;
        line-height: 53px;

        div,
        a {
          color: #aaa;
          padding: 0px 5px;
          box-sizing: border-box;
        }

        .btm_twiter_img {
          font-size: 16px;
        }

        .btm_time {
          font-size: 12px;
        }
      }

      .user_aera_btm_Box2 a {
        padding: 0px 10px;
      }
    }
  }

  .user_aera1 {
    margin-top: 20px;
  }

  .user_aera2 {
    margin-bottom: 50px;
  }

  .More_Reactions {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: $base-font;

    .More_Reactions_tit {
      display: flex;
      align-items: center;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .fa-chevron-circle-right {
        width: 20px;
        color: $point-color;
        margin-left: 10px;
      }
    }

    .More_Reactions_side_tit {
      display: flex;
      align-items: center;

      p {
        font-size: 12px;
        padding: 0px 10px;
        box-sizing: border-box;
        color: #aaa;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p:nth-child(1) {
        padding-left: 0px;
      }
      p:nth-child(2) {
        color: #777;
        font-weight: bold;
      }
    }
  }

  .More_Reactions_Tap {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    font-family: $base-font;

    .Reactions_Tap_Menu {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 10px;
      display: flex;
      width: 250px;
      height: 51px;
      line-height: 53px;
      text-align: center;
      background-color: #eee;
      box-sizing: border-box;
      border: 1px solid #000;
      border-bottom: none;

      p {
        width: 50%;
        font-weight: bold;
        cursor: pointer;
      }

      p:nth-child(2) {
        color: #777;
        background-color: #bbb;
      }
    }

    .Reactions_Tap_list_box {
      width: 100%;
      position: relative;

      .Reactions_Tap_list2 {
        display: none;
      }

      /* display:none */
      .Tap_list {
        width: 100%;
        height: 315px;
        margin-top: 50px;
        border: 1px solid #000;
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;

        li a {
          width: 100%;
          display: flex;
          height: 50px;
          font-size: 14px;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;

          p:first-child {
            width: 40px;
            text-align: center;
            line-height: 50px;
            box-sizing: border-box;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
          }

          p:last-child {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            padding: 9px;
            box-sizing: border-box;
            font-size: 12px;
            border-bottom: 1px solid #ddd;
          }
        }

                li:last-child a {
                    p {
                        border-bottom: none;
                    }
                }
            }

        }

    }
}


.Featured {
    position: relative;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $base-font;
    margin-bottom: 100px;
    box-sizing: border-box;

    .Featured_tit  {
        width: 100%;
    }


    .Featured_box3,
    .Featured_box4 {
        display: none;
    }

    /* display:none */

    .Featured_box {
        width: 50%;

        .Featured_img {
            padding: 5px;
            box-sizing: border-box;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .Featured_txt {
            font-size: 12px;
            padding: 0px 5px;
            box-sizing: border-box;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .Featured_box1,
    .Featured_box3 {
        .Featured_img {
            padding-left: 0px;
        }
    }

    .Featured_box2,
    .Featured_box4 {
        .Featured_img {
            padding-right: 0px;
        }
    }
}

footer {
  width: 100%;

  .line {
    width: 100%;
    margin-top: 30px;
    margin: 0 auto;
    height: 3px;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
  }

  .footer_logo_txt {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    text-shadow: 0px 4px 4px #bbb;

    p {
      font-size: 45px;
      font-family: $point-font;
      color: $point-color;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }

  .footer_SNS_logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 50px;

    .SNS_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid #cc6262;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow: 0px 4px 4px #bbb;

      img {
        width: 25px;
        height: 25px;
        display: block;
      }
    }
  }

  .footer_list {
    margin-top: 20px;
    display: flex;

    .footer_list_box {
      width: 25%;
      font-size: 10px;
      margin-bottom: 25px;

      li {
        display: flex;
        align-items: center;
        height: 35px;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
        padding: 0px 3px;
        box-sizing: border-box;

        a:hover {
          color: $point-color;
          font-weight: bold;
        }
      }

      li:last-child {
        border: none;
      }
    }
  }

  .foot_bottom {
    margin-top: 25px;
    margin-bottom: 50px;

    .foot_bottom_txt {
      span {
        color: #aaa;
        font-size: 10px;
      }
    }
  }

  .foot_bottom_txt1 {
    margin-bottom: 15px;

    span:nth-child(2) {
      span:nth-child(1),
      span:nth-child(3) {
        color: $point-color;
      }

      span:nth-child(2) {
        margin: 0px 2px;
      }
    }
  }

  .foot_bottom_txt2 {
    span {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

@media all and (min-width: 645px) {
  .header_web,
  .header_tab{
    display: none;
  }

  .header {
    .title {
      font-size: 70px;
    }
    .navbar_burger {
      display: none;
    }
  }

  footer {
    .foot_bottom {
      .foot_bottom_txt1 {
        span:nth-child(1) {
          display: flex;
          justify-content: center;
        }

        span:nth-child(2) {
          display: flex;
          justify-content: center;
        }
      }

      .foot_bottom_txt2 {
        span {
          justify-content: center;
        }
      }
    }
  }
}




@media all and (min-width: 768px) {

  .header_mobile,
  .header_web {
    display: none;
  }

  .header_tab{
    display: block;
  }


  .header_tab{

    margin-top: 20px;

    .header_top_tab{
    height: 140px;
    .icon_box{
      display: flex;
      justify-content: flex-end;
      ul{
        width: 200px;
        display: flex;
        justify-content: space-between;
      }
    }

    .ad{
      margin-right: 10px;
      position: absolute;
      top: 50px;
    }


    .title {
      text-align: center;
      margin-top: 10px;
      a {
        font-family: $point-font;
        color: $point-color;
        font-weight: 100;
        font-size: 70px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    }

    .header_bottom_tab{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0; 

      .menu_box{
        display: flex;
        .menu_title{
          font-size: 20px;
          line-height: 40px;
          font-weight: bold;
          font-family: $point-font;
          letter-spacing: 2px;
        }
        .fa-caret-right{
          margin-left: 5px;
          font-size: 40px;
          color: $point-color;
        }
      }

      .search_box {
        text-align: center;
        width: 40%;
        height: 40px;
        border-radius: 10px;
        border-radius: 20px;
        background: #ececec;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
      
        .xi-search {
          color: $icon-color;
        }
      
        .search_title {
          color: $icon-color;
        }
      
        .search_btn {
          color: #fff;
          width: 50px;
          height: 30px;
          font-size: 15px;
          border: none;
          border-radius: 18px;
          background: rgba(204, 98, 98, 0.8);
          backdrop-filter: blur(2px);
        }
      }
    }
    
  }


  .article_box {
    h1 {
      letter-spacing: -2px;
      font-size: 47px;
    }

    p {
      display: inline;
      font-size: 14px;
    }

    .italic {
      letter-spacing: -0.3px;
      font-size: 14px;
    }
  }

  .main_box {
    .main {
      .main_inner {
        .inner_text {
          margin-top: 30px;
          margin-bottom: 10px;
        }
        .inner_title {
          font-size: 55px;
        }
      }
    }
  }



  .main_list {
    display: flex;

    .article_list {

      ul {
        padding-top: 5px;
        box-sizing: border-box;


        li {
          height: 18px;
          font-size: 14px;
        }
      }
    }

    .short_list {
      height: 100%;

      .short_list_img1,
      .short_list_img2,
      .short_list_img3,
      .short_list_img4 {
        height: 41%;
      }

      .short_list_tit {
        top: 13px;
      }

    }

    .line.second_line {
      display: none;
    }
  }


  .bottom_box {
        width: 100%;
        float: left;

    .line {
      width: 98%;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      box-sizing: border-box;
    }
    .first_line {
      border: none;
    }
    .third_line {
      display: none;
    }
    .fourth_line {
      /*          display: none; */
      margin-bottom: 30px;
    }

    .Person_Issue {
      width: 55%;
      float: left;

      .Person_Issue_img {
        p.Person_side_txt {
          bottom: -20px;
          left: 0;
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;

          span:nth-child(2) {
            display: block;
          }
        }
      }
    }
    .Person_Year {
      position: relative;
      width: 45%;
      float: left;
      padding-top: 50px;
      box-sizing: border-box;

      .Person_Year_img {
        padding-top: 50px;
        box-sizing: border-box;
      }

      .Person_Year_txt {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .user_wrap {
      width: 55%;
      float: left;

      .user_aera1 {
        margin-top: 0px;
      }
      .user_aera2 {
        margin-bottom: 0px;
      }
    }

    .More_Reactions_wrap {
      width: 45%;
      float: left;

      .More_Reactions_Tap {
        height: 455px;

        .Tap_list {
          height: 375px;
          padding-top: 10px;
          box-sizing: border-box;
        }

        .Reactions_Tap_list_box {
          .Tap_list {
            li a {
              height: 60px;

                            p:first-child {
                                height: 60px;
                                line-height: 60px;
                            }
                            p:last-child {
                                height: 60px;

                            }
                        }
                    }
                }
            }
        }
    }

    
    .Featured {
        .Featured_box {
            width: 25%;
        }
        .Featured_box3, .Featured_box4 {
            display: block;
        }

        .Featured_box1 {
            .Featured_img {
                padding: 5px;
                // height: 140px;
                overflow: hidden;

            }
        } 
        .Featured_box4 {
            .Featured_img {
                padding: 5px;
                // height: 140px;
                overflow: hidden;
            }
        } 

        .Featured_box3 {
            .Featured_img {
                padding: 5px;
                // padding-left: 5px; 
                // height: 140px;
                overflow: hidden;
            }
        }

        .Featured_box2 {
            .Featured_img {
                padding: 5px;
                // padding-right: 5px;
                // height: 140px;
                overflow: hidden;
            }
        }
    }

  footer {
    float: left;

    .footer_list {
      .footer_list_box {
        li {
          height: 25px;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {

  .header_tab,
  .header_mobile{
    display: none;
  }

    .wrap {
    display: flex;
    }

  .header_web,
  .navbar_web{
    display: block;  
  }


  .header_web {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
    display: flex;
    height: 90px;
  
  
    .ad{
      margin-right: 10px;
    }
    .lnb_box{
  
      font-size: 11px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-weight: bold;
      a{
      color: $icon-color;
      }
      .point_lnb{
        color: red;
      }
      .top_lnb{
        ul{
          display: flex;
          li{
            
            &::after{
              content: "";
              border-right: 1px solid $icon-color;
              margin: 0 10px;
            }
          }
        }
      }
  
  
      .bottom_lnb{
        ul{
          display: flex;
          li{
            &::after{
              content: "";
              border-right: 1px solid $icon-color;
              margin: 0 10px;
            }
            a{
              color: red;
            }
          }
        }
      }
  
    }
  
    .title {
      text-align: center;
      flex-grow: 1;
      a {
        font-family: $point-font;
        color: $point-color;
        font-weight: 100;
        font-size: 70px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  
    .sns_box{
  
      .icon_box{
        display: flex;
        justify-content: flex-end;
        ul{
          width: 200px;
          display: flex;
          justify-content: space-between;
        }
      }
  
  

      .search_box {
        width: 250px;
        text-align: center;
        margin-top: 20px;
        height: 40px;
        border-radius: 10px;
        border-radius: 20px;
        background: #ececec;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
      
        .xi-search {
          color: $icon-color;
        }
      
        .search_title {
          color: $icon-color;
        }
      
        .search_btn {
          color: #fff;
          width: 50px;
          height: 30px;
          font-size: 15px;
          border: none;
          border-radius: 18px;
          background: rgba(204, 98, 98, 0.8);
          backdrop-filter: blur(2px);
        }
      }
    }
  
  
  }

  .navbar_web {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      li {
        &::after {
          content: '';
          border-right: 1px solid #000;
  
        }
  
  
  
      }
    }
  }
  



  .PC_left_aera {
      display: flex;
      width: 65%;
      flex-wrap: wrap;
      align-content: flex-start;
      padding-right: 10px;
      border-right: 1px solid #ccc;

      .main_box {
          width: 100%;
          margin-right: 10px;

          .main {
            .main_inner {

              .inner_text {
                margin-top: 40px;
              }

              .inner_title {
                margin-top: 10px;
                font-size: 65px;
              }
            }
          }
      }

      .article_box {
          h1 {
              font-size: 50px;
          }

          p {
              display: inline;
              font-size: 12px;
          }

          .italic {
              display: inline;
              font-size: 12px;
          }
      }

      .main_list {
          position: relative;
          border: none;



          .article_list {
              width: 50%;
              

              ul {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;

                  li:nth-child(1) {
                    .fa-circle {
                      margin-left: -2px;
                    }
                  }

                  li {
                      width: 100%;
                      display: block;
                      height: 25px;
                      font-size: 14px;
                      margin-bottom: 2px;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      
                       .fa-circle, .fa-youtube, .fa-play-circle  {
                        position: relative;
                        width: 20px;
                      }
                  }
              }
          }

          .short_list {
              align-content: flex-start;

              .short_list_img1,
              .short_list_img2,
              .short_list_img3,
              .short_list_img4 {
                  height: auto;
              }
          }

      }

      .PC_ver {
        display: flex !important;
        padding-top: 0px;
        margin-bottom: 39px;

        

        .Featured_tit {
          margin-bottom: 0px;
          padding-left: 5px;
          box-sizing: border-box;
        }

      }
  }

  .bottom_box.PC_right_area {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 35%;
      padding-left: 10px;
      box-sizing: border-box;

      .first_line {
        display: none;
      }

      .Person_Issue {
          width: 100%;
          padding-top: 0px;
          margin-bottom: 30px;

          .title_all {
            top: -16px;
          }

          .Person_Issue_img {
            padding-top: 35px;

            .Person_side_txt {
              width: 100%;
              bottom: -10px;

              span:nth-child(1),
              span:nth-child(2) {
                display: inline;
              }
            }
          }

      }

      .Person_Year {
        width: 100%;
        padding-top: 0px;
        margin-top: 10px;
        margin-bottom: 50px;

        .Person_Year_txt {
          width: 100%;
          height: 30px;
          line-height: 35px;
          top: auto;
          bottom: -25px;

          h3 {
            color: $point-color;
          }
        }
      }

      .user_wrap {
        width: 100%;
        margin-top: 15px;

        .user_aera1,
        .user_aera2 {

          .user_txt {
            font-size: 16px;
            height: 95px;
          }

          .user_aera_btm {
            height: 45px;
            margin-bottom: 0px;
          }

        }
      }

      .More_Reactions_wrap {
        width: 100%;
        height: 415px;
        
        .More_Reactions {
          margin-bottom: 10px;
          margin-top: 25px;
        }

        .More_Reactions_Tap {
          height: 0px;

          .Reactions_Tap_list_box {
            .Tap_list {
              height: 290px;

              li {
                a {
                  height: 45px;
  
                  p:first-child {
                    height: 45px;
                    line-height: 45px;
                  }
  
                  p:last-child {
                    height: 45px;
                  }
                }
              }
            }
          }
        }
      }

  }

  footer {
    width: 1280px;
    margin: 100px auto 0px;
    float: none;

    .fifth_line {
      display: none;
    }


    .Featured {
      display: none;
    }
  }

}


@media all and (min-width: 1280px) {
    .wrap {
        width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    
}
